# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
backend/venv/

# Pytest
.pytest_cache/

# Environment Variables
.env

# Node
node_modules/
frontend/node_modules/

# Build Files
dist/
build/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db